body {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 160vh;            
  margin: 0;                
}
.card {
   display: inline-block;     
  border: 1px solid #1f55b3;
  padding: 12px 24px;
  border-radius: 6px;
  background: #07dfee;
  text-align: center;
}
#intro h2 {
  color: #a50000;
}